<li class="card">
        <a href="#" target="_blank" data-bind="attr: {href: 'https://www.secretescapes.com/sale/offers/'+id}">
         <img data-bind="attr: {src: photos[0].url}"/>
          <div class="card-text ">
            <h3 data-bind="text: title"></h3>
            <p data-bind="text: summaryTitle"></p>
          </div>  
        </a>
</li>