<h1>Secret Escapes Smart Sale Finder</h1>

<div>
  <div data-bind="if: $data.city">
    <h2 data-bind="text: city"></h2>
    <div data-bind="if: cityResults().length == 0 && !noResultsForCity()">
      <p>
        We are searching sales in <span data-bind="text: city"></span>...
      </p>
      <img style="height: 60px; width: auto;" src="https://cdn.glitch.com/fb258a74-00e9-4f2c-a2b1-35f603dbcab3%2Floading.gif?1521806195818"/>
    </div>
    <p data-bind="if: noResultsForCity()" class="error">
      Sorry, we couldn't find any sales for <span data-bind="text: city"></span>
    </p>
    
    <ul data-bind="foreach: cityResults" class="cards-wrapper">
      {{> sale_card}}
    </ul>
  </div>

  <div data-bind="if: !$data.city">
    <p class="error">
      Sorry, we couldn't find any city.
    </p>
  </div>
</div>

<div>
  <div data-bind="if: $data.country">
    <h2 data-bind="text: country"></h2>
    <div data-bind="if: countryResults().length == 0 && !noResultsForCountry()">
      <p>
        We are searching sales in <span data-bind="text: country"></span>...
      </p>
      <img style="height: 60px; width: auto;" src="https://cdn.glitch.com/fb258a74-00e9-4f2c-a2b1-35f603dbcab3%2Floading.gif?1521806195818"/>
    </div>
    <p data-bind="if: noResultsForCountry()" class="error">
      Sorry, we couldn't find any sales for <span data-bind="text: country"></span>
    </p>
    <ul data-bind="foreach: countryResults" class="cards-wrapper">
      {{> sale_card}}
    </ul>
  </div>

  <div data-bind="if: !$data.country">
    <p class="error">
      Sorry, we couldn't find any country.
    </p>
  </div>
</div>
<script src="script.js"></script>
<script>
  $( document ).ready(() => {
    var myViewModel = {
      cityResults: ko.observableArray(),
      countryResults: ko.observableArray(),
      noResultsForCity: ko.observable(false),
      noResultsForCountry: ko.observable(false),
      {{#if city}}
        city: "{{city}}",
      {{/if}}
      {{#if country}}
        country: "{{country}}"
      {{/if}}
    };
    ko.applyBindings(myViewModel);
    init(myViewModel);
  });
</script>