<h1>Secret Escapes</h1>

<div>
  <div data-bind="if: $data.city">
    <h2 data-bind="text: city"></h2>
    <ul data-bind="foreach: cityResults">
      <li><a href="#" target="_blank" data-bind="attr: {href: 'https://www.secretescapes.com/sale/offers/'+id}"><span data-bind="text: title"></span></a></li>
    </ul>
  </div>

  <div data-bind="if: !$data.city">
    <p>
      Sorry, we couldn't find any city.
    </p>
  </div>
</div>

<div>
  <div data-bind="if: $data.country">
    <h2 data-bind="text: country"></h2>
    <ul data-bind="foreach: countryResults">
      <li><a href="#" target="_blank" data-bind="attr: {href: 'https://www.secretescapes.com/sale/offers/'+id}"><span data-bind="text: title"></span></a></li>
    </ul>
  </div>

  <div data-bind="if: !$data.country">
    <p>
      Sorry, we couldn't find any country.
    </p>
  </div>
</div>

<script>
  $( document ).ready(() => {
    var myViewModel = {
      cityResults: ko.observableArray(),
      countryResults: ko.observableArray(),
      {{#if city}}
        city: "{{city}}",
      {{/if}}
      {{#if country}}
        country: "{{country}}"
      {{/if}}
    };
    ko.applyBindings(myViewModel);
    
    if (myViewModel.city) {
      $.ajax({
        type: "GET",
        url: `sales?query=${myViewModel.city}`,
        success: data => myViewModel.cityResults(data.match)
      });
    }
    
    if (myViewModel.country) {
      $.ajax({
        type: "GET",
        url: `sales?query=${myViewModel.country}`,
        success: data => myViewModel.countryResults(data.match)
      });
    }
    
  });
</script>